<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Too Many Requests</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/error.css') }}">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/icon/favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/icon/apple-touch-icon.png') }}" />
    <meta name="apple-mobile-web-app-title" content="awtik-cash" />
    <link rel="manifest" href="{{ url_for('static', filename='images/icon/site.webmanifest') }}" />
</head>
<body>
<div class="error-container">
    <h1>429</h1>
    <p class="title">Too many requests</p>
    <p class="desc">
        You are doing actions too fast.<br>
        Please wait a moment and try again.
    </p>

    <a href="{{ url_for('home') }}" class="btn">Go home</a>
    <a href="{{ url_for('profile') }}" class="btn">Profile</a>
</div>
</body>
</html>
